In [9]:
import pandas as pd
from datetime import datetime

# Load the dataset from the file
file_path = r"C:\Users\ashwi\GUVI_Projects\EDA\Customers.csv"
data = pd.read_csv(file_path, encoding='ISO-8859-1')

#birthdayin current given format
# List of potential date formats for parsing
date_formats_list = ['%d-%m-%Y', '%m/%d/%Y', '%d/%m/%Y', '%m-%d-%Y']

# Function to handle date parsing
def convert_to_date(date_text):
    for pattern in date_formats_list:
        try:
            return pd.to_datetime(date_text, format=pattern)
        except ValueError:
            pass  # If one format fails, move to the next
    return pd.NaT  # Return NaT if no formats match

data['Birthday'] = data['Birthday'].apply(convert_to_date)
data['Birthday'] = data['Birthday'].apply(lambda date: date.strftime('%d-%m-%Y') if pd.notnull(date) else 'None')

#calculating AGE 
# Ensure 'Birthday' is in datetime format
data['Birthday'] = pd.to_datetime(data['Birthday'], format='%d-%m-%Y', errors='coerce')
# Calculate age based on the current date
current_year = datetime.now().year
data['Age'] = data['Birthday'].apply(lambda birth_date: current_year - birth_date.year if pd.notnull(birth_date) else None)


# Fill missing values in the State Code column with a placeholder
data['State Code'] = data['State Code'].fillna('NAP')


# Save the cleaned dataset to a new file
output_file = r"C:\Users\ashwi\GUVI_Projects\EDA\Processed_Customers.csv"
data.to_csv(output_file, index=False)
print("done")

In [ ]:
import pandas as pd

# Specify the file location and load the dataset
input_file = r"C:\Users\ashwi\GUVI_Projects\EDA\Products.csv"
data = pd.read_csv(input_file, encoding='ISO-8859-1')

# Clean monetary columns by removing unwanted characters
data['Unit Cost USD'] = data['Unit Cost USD'].replace({r'\$': '', ',': ''}, regex=True).str.strip()
data['Unit Price USD'] = data['Unit Price USD'].replace({r'\$': '', ',': ''}, regex=True).str.strip()

# Convert cleaned columns to numeric types
data['Unit Cost USD'] = pd.to_numeric(data['Unit Cost USD'], errors='coerce')
data['Unit Price USD'] = pd.to_numeric(data['Unit Price USD'], errors='coerce')

# Export the processed data to a new CSV file
output_file = r"C:\Users\ashwi\GUVI_Projects\EDA\Processed_Products.csv"
data.to_csv(output_file, index=False)
print("done")

In [2]:
import pandas as pd
from datetime import datetime
df = pd.read_csv(r"C:\Users\ashwi\GUVI_Projects\EDA\Sales.csv", encoding='ISO-8859-1')

# List of potential date formats for parsing
date_formats_list = ['%d-%m-%Y', '%m/%d/%Y', '%d/%m/%Y', '%m-%d-%Y']

# Function to handle date parsing
def parse_dates(date_text):
    for pattern in date_formats_list:
        try:
            return pd.to_datetime(date_text, format=pattern)
        except ValueError:
            pass  # If one format fails, move to the next
    return pd.NaT  # Return NaT if no formats match

# Apply the parsing function to the 'date' column
df['Order Date'] = df['Order Date'].apply(parse_dates)
df['Delivery Date'] = df['Delivery Date'].apply(parse_dates)

df['Order Date'] = df['Order Date'].dt.strftime('%d-%m-%Y')
df['Delivery Date'] = df['Delivery Date'].dt.strftime('%d-%m-%Y')

df.dropna(subset=['Delivery Date'], inplace=True)
df.isnull().sum()

pd.set_option("display.max_rows", None)
# Convert the dates to datetime format
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%d-%m-%Y')
df['Delivery Date'] = pd.to_datetime(df['Delivery Date'], format='%d-%m-%Y')
# Filter out rows where Delivery_Date is earlier than Order_Date
df = df[df['Delivery Date'] >= df['Order Date']]

# Save the cleaned dataset to a new CSV file
Output_path = r"C:\Users\ashwi\GUVI_Projects\EDA\Processed_Sales.csv"
df.to_csv(Output_path, index=False)
print("done")

done

In [3]:
import pandas as pd

# Read the CSV file
df = pd.read_csv(r"C:\Users\ashwi\GUVI_Projects\EDA\Stores.csv", encoding='ISO-8859-1')

# Define possible date formats
date_formats = ['%d-%m-%Y', '%m/%d/%Y']

def parse_dates(date_str): 
    for fmt in date_formats:
        try:
            return pd.to_datetime(date_str, format=fmt) 
        except ValueError:
            continue
    return pd.NaT  # Return NaT if no format matches

# Apply the parsing function to the 'Open Date' column
df['Open Date'] = df['Open Date'].apply(parse_dates)

# Convert to the desired format using apply (replaces .dt.strftime)
df['Open Date'] = df['Open Date'].apply(lambda x: x.strftime('%d-%m-%Y') if pd.notna(x) else x)

# Fill missing values in 'Square Meters' with 0
df['Square Meters'] = df['Square Meters'].fillna(0)

# Output the processed data to a new CSV file
Output_path = r"C:\Users\ashwi\GUVI_Projects\EDA\Processed_Stores.csv"
df.to_csv(Output_path, index=False)

In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ashwi\GUVI_Projects\EDA\Exchange_Rates.csv", encoding='ISO-8859-1')

date_formats = ['%d-%m-%Y', '%m/%d/%Y'] #date format available in my file

def parse_dates(date_str): 
    for fmt in date_formats:
        try:
            return pd.to_datetime(date_str, format=fmt) 
        except ValueError:
            continue
    return pd.NaT #print not a time

# Apply the parsing function to the 'date' column
df['Date'] = df['Date'].apply(parse_dates)

# Convert to the desired format
df['Date'] = df['Date'].dt.strftime('%d-%m-%Y')

# Save the cleaned dataset to a new CSV file
Output_path = r"C:\Users\ashwi\GUVI_Projects\EDA\Processed_Exchange_Rates.csv"
df.to_csv(Output_path, index=False)

In [ ]:
#Combining

In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ashwi\GUVI_Projects\EDA\Processed_Customers.csv")
df1 = pd.read_csv(r"C:\Users\ashwi\GUVI_Projects\EDA\Processed_Products.csv")
df2 = pd.read_csv(r"C:\Users\ashwi\GUVI_Projects\EDA\Processed_Sales.csv")
df3 = pd.read_csv(r"C:\Users\ashwi\GUVI_Projects\EDA\Processed_Stores.csv")
df4 = pd.read_csv(r"C:\Users\ashwi\GUVI_Projects\EDA\Processed_Exchange_Rates.csv")

print("Order Date dtype in df2:", df2['Order Date'].dtype)
print("Date dtype in df4:", df4['Date'].dtype)

df2['Order Date'] = pd.to_datetime(df2['Order Date'], errors='coerce')  # Convert to datetime
df4['Date'] = pd.to_datetime(df4['Date'], errors='coerce')  # Convert to datetime


# Merge df and df2
merged_df = pd.merge(df, df2, on='CustomerKey', how='inner')


# Merge with df1
if not merged_df.empty:
    merged_df = pd.merge(merged_df, df1, on='ProductKey', how='inner')
    

# Merge with df3
if not merged_df.empty:
    merged_df = pd.merge(merged_df, df3, on='StoreKey', how='inner')
    

# Merge with df4
if not merged_df.empty:
    merged_df = pd.merge(merged_df, df4, left_on='Order Date', right_on='Date', how='inner')
    
print(merged_df.head()) #for verifying the joins

print(merged_df.columns) #for all coulumn names

pd.set_option("display.max_rows", None)
merged_df.drop(columns=['State_y', 'Country_y', 'Date'], inplace=True)
merged_df.rename(columns={'State_x': 'State', 'Country_x': 'Country'}, inplace=True)


# Save the cleaned dataset to a new CSV file
Output_path = r"C:\Users\ashwi\GUVI_Projects\EDA\Data_Spark.csv"
merged_df.to_csv(Output_path, index=False)

Order Date dtype in df2: object
Date dtype in df4: object
   CustomerKey  Gender           Name            City State Code  \
0          301  Female  Lilly Harding  WANDEARAH EAST         SA
1          301  Female  Lilly Harding  WANDEARAH EAST         SA
2          301  Female  Lilly Harding  WANDEARAH EAST         SA
3          301  Female  Lilly Harding  WANDEARAH EAST         SA
4          301  Female  Lilly Harding  WANDEARAH EAST         SA

           State_x Zip Code  Country_x  Continent    Birthday  ...  \
0  South Australia     5523  Australia  Australia  1939-07-03  ...
1  South Australia     5523  Australia  Australia  1939-07-03  ...
2  South Australia     5523  Australia  Australia  1939-07-03  ...
3  South Australia     5523  Australia  Australia  1939-07-03  ...
4  South Australia     5523  Australia  Australia  1939-07-03  ...

     Subcategory  CategoryKey  Category Country_y State_y  Square Meters  \
0  Recording Pen            1     Audio    Online  Online            0.0
1  Recording Pen            1     Audio    Online  Online            0.0
2  Recording Pen            1     Audio    Online  Online            0.0
3  Recording Pen            1     Audio    Online  Online            0.0
4  Recording Pen            1     Audio    Online  Online            0.0

    Open Date       Date Currency Exchange
0  01-01-2010 2019-11-11      USD   1.0000
1  01-01-2010 2019-11-11      CAD   1.3230
2  01-01-2010 2019-11-11      AUD   1.4587
3  01-01-2010 2019-11-11      EUR   0.9057
4  01-01-2010 2019-11-11      GBP   0.7766

[5 rows x 35 columns]
Index(['CustomerKey', 'Gender', 'Name', 'City', 'State Code', 'State_x',
       'Zip Code', 'Country_x', 'Continent', 'Birthday', 'Age', 'Order Number',
       'Line Item', 'Order Date', 'Delivery Date', 'StoreKey', 'ProductKey',
       'Quantity', 'Currency Code', 'Product Name', 'Brand', 'Color',
       'Unit Cost USD', 'Unit Price USD', 'SubcategoryKey', 'Subcategory',
       'CategoryKey', 'Category', 'Country_y', 'State_y', 'Square Meters',
       'Open Date', 'Date', 'Currency', 'Exchange'],
      dtype='object')

In [13]:

from mysql import connector
import pandas as pd

# Step 1: Connect to SQL server
connection = connector.connect(
    host="localhost",
    user="root",
    port=3306,
    password="123456789",
    connection_timeout=600 # Timeout after 600 seconds
)
mycursor = connection.cursor()


#Database Selection
mycursor.execute("CREATE DATABASE IF NOT EXISTS dataspark")
mycursor.execute("USE dataspark")


# Load CSV data
df = pd.read_csv(r"C:\Users\ashwi\GUVI_Projects\EDA\Data_Spark.csv", low_memory=False)

df = df.dropna()  # Drop null values
df.info()
# Replace data types from pandas to MySQL
a = ",".join(f"`{i}` {j}" for i, j in zip(df.columns, df.dtypes)).replace("float64", "FLOAT").replace("object", "TEXT").replace("int64", "INT")
# Use a valid table name
table_name = "Data Spark"

# Create the table
create_table_query = f"CREATE TABLE IF NOT EXISTS`{table_name}` ({a})"
with connection.cursor() as cursor:
    cursor.execute(create_table_query)

# Insert data into the table
for i in range(len(df)):
    insert_query = f"INSERT INTO `{table_name}` VALUES {tuple(df.iloc[i])}"
    with connection.cursor() as cursor:
        cursor.execute(insert_query)
    connection.commit()



connection.close()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25370 entries, 0 to 25369
Data columns (total 32 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerKey     25370 non-null  int64
 1   Gender          25370 non-null  object
 2   Name            25370 non-null  object
 3   City            25370 non-null  object
 4   State Code      25370 non-null  object
 5   State           25370 non-null  object
 6   Zip Code        25370 non-null  object
 7   Country         25370 non-null  object
 8   Continent       25370 non-null  object
 9   Birthday        25370 non-null  object
 10  Age             25370 non-null  int64
 11  Order Number    25370 non-null  int64
 12  Line Item       25370 non-null  int64
 13  Order Date      25370 non-null  object
 14  Delivery Date   25370 non-null  object
 15  StoreKey        25370 non-null  int64
 16  ProductKey      25370 non-null  int64
 17  Quantity        25370 non-null  int64
 18  Currency Code   25370 non-null  object
 19  Product Name    25370 non-null  object
 20  Brand           25370 non-null  object
 21  Color           25370 non-null  object
 22  Unit Cost USD   25370 non-null  float64
 23  Unit Price USD  25370 non-null  float64
 24  SubcategoryKey  25370 non-null  int64
 25  Subcategory     25370 non-null  object
 26  CategoryKey     25370 non-null  int64
 27  Category        25370 non-null  object
 28  Square Meters   25370 non-null  float64
 29  Open Date       25370 non-null  object
 30  Currency        25370 non-null  object
 31  Exchange        25370 non-null  float64
dtypes: float64(4), int64(9), object(19)
memory usage: 6.2+ MB